
    <footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.ecofynity.com.co/">
                            Sitio Web
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                Ecofynity © {{ "now"|date("Y") }}, todos lo derechos reservados.
            </div>
        </div>
    </footer>