
    <section class="site-section bg-light" id="section-contact">
        <div class="container">
            <div class="row">

                {# Título #}
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>¿Estás <strong>Interesado En Adquirir</strong> Nuestros Productos?</h2>
                    </div>
                </div>

                {# Formulario #}
                <div class="col-md-7 mb-5 mb-md-0">
                    <form action="" class="site-form js-contact-form">
                        <h3 class="mb-5">Ponte En Contacto</h3>
                        <div class="form-group">
                            <input type="text" class="form-control px-3 py-4 js-input-number js-contact-name" placeholder="Nombre*">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control px-3 py-4 js-contact-email" placeholder="Correo Electrónico*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control px-3 py-4 js-contact-phone" placeholder="Teléfono / Celular">
                        </div>
                        <div class="form-group mb-5">
                            <textarea class="form-control px-3 py-4 js-contact-text" cols="30" rows="3" placeholder="Escríbenos tu mensaje*"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary px-4 py-3 js-contact-btn-send-email" value="Enviar">
                        </div>
                    </form>
                </div>

                <div class="col-md-5 pl-md-5">
                    <h3 class="mb-5">Datos de Contacto</h3>
                    <ul class="site-contact-details">
                        <li>
                            <span class="text-uppercase">Correo Electrónico:</span>
                            ventas@ecofynity.com
                        </li>
                        <li>
                            <span class="text-uppercase">Teléfonos:</span>
                            +30 976 1382 9921
                        </li>
                        <li>
                            <span class="text-uppercase">Dirección:</span>
                            Ibagué-Tolima, CO <br>
                            Barrio Nacional  <br>
                            Cra 4b No. 37-53
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>}